<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Only</title>
</head>
    <style>
        body {
            font-family: arial;
            margin: 0;
        }
    
        .headerContainer {
            display: flex;
            justify-content: space-between;
            background: #50114d;
            padding: 20px 30px;
        }
    
        nav {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    
        nav a {
            color: #fff;
            font-size: 18px;
            background: rgba(255, 255, 255, 0.2);
            text-decoration: none;
            padding: 10px;
            border-radius: 5px;
        }
    
        nav a:hover {
            background-color: rgba(255, 255, 255, 0.4);
        }
    
        h1 {
            color: rgb(110, 189, 199);
        }
                
        .becomeMember {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
            text-align: center;
        }

        .becomeMember p {
            font-size: 16px;
            color: #333;
            margin-bottom: 20px;
        }

        .becomeMember a {
            color: #007bff;
            text-decoration: none;
        }

        .becomeMember a:hover {
            text-decoration: underline;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        label {
            margin-bottom: 10px;
        }

        input[type="password"] {
            width: 250px;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }
    
 </style>
<body>
    <div class="headerContainer">
        <h1>Members only</h1>
        <nav>
            <p class="link"><a href="/">Log out</a></p>
        </nav>
    </div>
    <div class="becomeMember">
        <p>
            By becoming a member, you will be able to post messages and see the author and date of each message.
            (See the passcode at <a href="https://github.com/MichelleAppiah17/members-only">https://github.com/MichelleAppiah17/members-only</a>)
        </p>
        <form action="/become-member" method="POST">
            <label for="membership">Enter secret passcode</label>
            <input name="membership" type="password" />
            <% if (error) { %>
                <p style="color: red;">
                    <%= error %>
                </p>
                <% } %>
            <button>Become a Member</button>
        </form>
    </div>
</body>
</html>